.bmicalc{
    background-color: #140d01;
    color: #f9fcfc;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #975505;
    text-align: center;
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 200%;
}
main{
    padding: 20px 0px;
    font-size: 150%;
    text-align: center;
    color: #975505;
    border: 5px solid green ;
}
.pre{
    color: #eff7ef;
}
input{
    width: 60%;
    padding: 3px 4px;
    margin: 20px 2px ;
    box-sizing: border-box;
    box-shadow: inset;
}
button{
    color: #eff7ef;
    background-color: green;
}
footer{
    background-color: #975505;
    text-align: center;
    color: #f9fcfc;
    padding: 20px 0px;
}